<div>
    <a data-bind="click: click, css: little_button_css(), attr: { title: get_title() }, visible: little_button_visible()"
        href="#">
        <span class="fa-stack">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fas fa-hand-paper fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</div>

<div>
    <a data-bind="click: click, css: big_button_css(), attr: { title: get_title() }, visible: big_button_visible()"
        href="#">
        <div class="ses_big_middle">
            <span class="fa-stack">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-hand-paper fa-stack-1x fa-inverse"></i>
            </span>
            <h5>{{ _("Emergency Stop") }}</h5>
            <span class="fa-stack">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-hand-paper fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </a>
</div>

<div id="confirmation" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Emergency Stop!</h3>
    </div>
    <div class="modal-body">
        <p>
            {{ _("Are you sure you want to stop your printer?") }}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{
            _("Cancel")
            }}</a>
        <a href="#" class="btn btn-danger" data-bind="click: sendCommand">{{
            _("Proceed")
            }}</a>
    </div>
</div>